@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --h-font: Lobster;
    --text-font: Poppins;
    --header-bg-color: #012b28;
    --web-site-bg-color: #03312d; 
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--web-site-bg-color);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--header-bg-color);
    box-shadow: 0px 5px 20px;
    position: relative;
}

#logo {
    height: 220px;
    width: auto;
}

.bodyElements {
    display: flex;
    justify-content: center;
}

.team {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 200px;
    width: 600px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 215.33px;
    top: 54px;
    height: 90px;
    border: 1px solid black;
    z-index: 1;
    background-color: transparent;
    font-size: 80px;
    color: #d0a32c;
    /* opacity: 0.95; */
    font-family: var(--h-font);
}

h1:hover + .aboutTeam {
    animation: showAbout .5s ease-in forwards;
}

h1:hover {
    animation: showNameTop .5s ease-out forwards;
    cursor: none;
}

.aboutTeam {
    box-sizing: border-box;
    width: 600px;
    height: 200px;
    padding: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid black;
    opacity: 0;
    border-radius: 10px;
}

@keyframes showAbout {
    from {
        opacity: 0;
    }

    to {
        opacity:.7;
    }
}

/* @keyframes hiddenH1 {
    from { opacity: 1;
    color: #d0a32c;
    }
    to { opacity: .06;
        color: #000;
    }
} */

@keyframes showNameTop {
    0% {   
        height: 90px;
        left: 215.33px;
        top: 54px;
        font-size: 80px; 
    }

    25% {
        height: 80px;
        
    
    }

    50% {
        height: 80px;

    }

    75% {
        height: 80px;

    }

    100% {
        height: 90px;

    }
}



/* GOOD SOLUTION: */
/* h1:hover + .aboutTeam {
    visibility: visible;
    opacity: 1;
}

.aboutTeam {
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
} */
