* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .header {
    display: flex;
} */

#myH1 {
    position: absolute;
    left: 42.8%;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 210px;
    font-size: 90px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    padding: 0;
}


/* keyframe setup for myH1*/
@keyframes showNameTop {
    0% {   
        top: 300px;
        font-size: 90px; 
    }

    25% {
        font-size: 80px;
        top: 315px;
    }

    50% {
        font-size: 70px;
        top: 270px;
    }

    75% {
        font-size: 70px;
        top: 230px;
    }

    100% {
        font-size: 70px;
        top: 200px;
        height: 80px;
    }
}
/* maybe implement transform later */

/* triggering the animation by adding a seperate trigger class for myH1*/
.trigger {
    animation: showNameTop .5s ease-out forwards;
}

/* about team box */
#boxOfText {
    position: absolute;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    top: 300px;
    left: 42.8%;
    opacity: 0;
}

/* pre-applied class  */
.hiddenTextBox {
    display: none;
}

/* changing the pre-applied class for the content box to show */
.showTextBox {
    display: block;
    animation: textBoxMove .5s ease-in-out forwards;
    animation-delay: .4s;
}


/* moving the content box to the right side */
@keyframes textBoxMove {
    from {top: 300px; opacity: 0;}
    to {top: 300px; left: calc(42.8% + 100px); opacity: 1;}
}

/* adding a team picture on the left side of the content box */
/* --make the picture keyframe the same as the content box for how it moves*/
/* --the picture has to show the same time and on the same click event as the content box*/
/* --> maybe make it so when the content box is hovered it show the picture??(experiment with it) */
    /* --> if this will be done, make the animation of the content box going to the right at the time when the content box is hovered and picture box shows */
/* --finish detailing of the positioning of the header, content box and picture box */

/* pictureBox */
#pictureBox {
    height: 300px;
    width: 200px;
    position: absolute;
    border: 1px solid black;
    left: 43.1%;
    top: 300px;
    opacity: 0;
}

.hiddenPicture {
    display: none;
}

.showPicture {
    display: block;
    animation: movePicture .5s linear forwards;
    animation-delay: .4s;
}

/* move picture to the left */
@keyframes movePicture {
    from {left: 43.1%; opacity: 0;}
    to {left: calc(43.1% - 110px);opacity: 1;}
}