:root {
    --t-myHeader: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .header {
    display: flex;
} */

.header {
    position: absolute;
    height: 120px;
    width: 100%;
    /* border: 1px solid black; */
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myH1 {
    display: grid;
    position: relative;
    text-align: center;
    height: 120px;
    width: 220px;
    max-width: 100%;
    font-size: 90px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    padding: 0;
}


/* keyframe setup for myH1*/
@keyframes showNameTop {
    0% {   
        top: var(--t-myHeader);
        font-size: 90px; 
    }

    25% {
        font-size: 80px;
        top: 15px;
    }

    50% {
        font-size: 70px;
        top: -45px;
    }

    75% {
        font-size: 70px;
        top: -70px;
    }

    100% {
        font-size: 70px;
        top: -100px;
        height: 80px;
    }
}
/* maybe implement transform later */

/* triggering the animation by adding a seperate trigger class for myH1*/
.trigger {
    animation: showNameTop .5s ease-out forwards;
}

.aboutTeamContainer {
    position: relative;
    top: 300px;
    width: auto;
    height: 300px;
    display: grid;
    border: 1px solid black;
}

/* about team box */
#boxOfText {
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    /* left: 35%;  --> not needed because its written in the keyframe in from{} statement*/
    opacity: 0;
    overflow: hidden; /*--> makes the box not go out of sight */
}

/* pre-applied class for boxOfText */
.hiddenTextBox {
    display: none;
}

/* changing the pre-applied class for the content box to show */
.showTextBox {
    display: block;
    animation: textBoxMove .5s ease-in-out forwards;
    animation-delay: .4s;
}


/* moving the content box to the right side */
@keyframes textBoxMove {
    from {left: 35%; opacity: 0;}
    to {left: calc(35% + 90px); opacity: 1;}
}

/* adding a team picture on the left side of the content box */
/* --make the picture keyframe the same as the content box for how it moves*/
/* --the picture has to show the same time and on the same click event as the content box*/
/* --> maybe make it so when the content box is hovered it show the picture??(experiment with it) */
    /* --> if this will be done, make the animation of the content box going to the right at the time when the content box is hovered and picture box shows */
/* --finish detailing of the positioning of the header, content box and picture box */

/* pictureBox */
#pictureBox {
    height: 300px;
    width: 200px;
    position: absolute;
    border: 1px solid black;
    opacity: 0;
}

.hiddenPicture {
    display: none;
}

.showPicture {
    display: block;
    animation: movePicture .5s linear forwards;
    animation-delay: .4s;
}

/* move picture to the left */
@keyframes movePicture {
    from {left: 35%; opacity: 0;}
    to {left: calc(35% - 120px);opacity: 1;}
}
